<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Login')">Header</head>
<body>

<nav th:replace="fragments/navbar :: navbar('login')"></nav>

<section class="ftco-section" th:style="'background-image: url(/images/bg_1.jpg)'">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7">
                <h2 class="mb-4">Login</h2>
                <div class="form auth login">
                    <div th:replace="fragments/login_form"/>
                </div>
            </div>
        </div>
    </div>
</section>


    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/loader"></div>

</body>
</html>

